<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <div class="user-detail container">
        <section class="top main-content">
          <img class="profile" src="<%= user.foto %> " alt="" />
          <div class="info-usuario">
            <p><%= user.usuario %></p>
            <a class="follow" href="/">seguir</a>
            <ul class="meta">
              <li><%=%> post</li>
              <li><%=%> seguidores</li>
              <li><%=%> seguidos</li>
            </ul>
          </div>
        </section>
        <section class="bottom">
          <% for( let i = 0; i < 3; i++ ) { %>

          <article class="post">
            <a href="/posts/detail/id/<%=img[i].postId%>">
              <img src="<%= img[i].postImg %>" alt="" />
            </a>
          </article>
          <% } %>
        </section>
      </div>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
