<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

      <main>
        <div class="post-detail container">
          <section class="center main-content post">
            <div class="info-usuario">
              <img class="userImg" src="/images/users/<%= posteador.dataValues.foto %> " alt="" />
              <p>
                <a class="fix-link" href="/users/id/<%= post.id_usuario %>">
                  <%= posteador.dataValues.usuario %>
                </a>
              </p>
            </div>
            <img class="photo" src="/images/posts/<%= post.name_img %>" alt="" />
          </section>
          <section class="right">
            <h4>Comentarios</h4>
            <section class="comments">
              <form action="" class="comment-form">
                <input type="text" class="input" placeholder="Agregar comentario" />
                <button type="submit">Comentar</button>
              </form>
              <% for( let i=0; i < post.comentarios.length; i++ ) { %>
                <div>
                  <article class="comment">
                    <img class="commentPfp" src="/images/users/<%= post.comentarios[i].usuario.foto%>" alt="" />
                    <section class="content">
                      <a class="fix-link" class="user" href="/users/id/<%= post.comentarios[i].usuario.id_usuario %> ">
                        <%= post.comentarios[i].usuario.usuario %> 
                      </a>
                      <span class="text">
                        <%= post.comentarios[i].comentario%>

                      </span>
                    </section>
                  </article>
                </div>
                <% } %>
            </section>
          </section>
        </div>
          <% if(locals.user !=undefined && locals.user.id_usuario == post.id_usuario){ %>
            <div>
              <form action="/posts/delete" method="POST">
                <input class="btn btn-danger m-2" type="submit" value="Eliminar">
                <input type="hidden" name="id" value="<%= post.id_post %>" readonly>
              </form>      
                <div>
                  <form action="/posts/update/id/<%= post.id_post %>" method="GET">
                    <input class="btn btn-danger m-2" type="submit" value="Editar posteo">
                  </form>    
                </div>
          <% } %>
      </main>

      <%- include('./partials/footer.ejs')%>
  </body>

</html>