<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <div class="user-detail container">
        <section class="top main-content">
          <img class="profile" src="/images/users/<%= user.dataValues.foto %>" alt="" />
          <div class="info-usuario usContainer">
            <p class="us"><%=user.dataValues.usuario%></p>
            <ul class="meta">
              <li><%=post.length%> post</li>
              <li><%#=%> seguidores</li>
              <li><%#=%> seguidos</li>
            </ul>
          </div>
          <a class="follow" href="/">seguir</a>
        </section>
        <section class="bottom">
          <% console.log(post) %> 
          <% if (post.length > 0) { %>
           
            <% for( let i = 0; i < post.length; i++ ) { %>
              
              <article class="post">
                <a href="/posts/detail/id/<%=post[i].id_post%>">
                  <img src="/images/posts/<%= post[i].name_img %>" alt="" />
                </a>
              </article>
              <% } %>
              <% } %>
            </section>
          </div>
        </main>
        
        <%- include('./partials/footer.ejs')%>
  </body>
</html>
