<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <div class="post-detail container">
        <section class="center main-content post">
          <div class="info-usuario">
            <img class="userImg" src="<%= detail[0].userImg %> " alt="" />
            <p>
              <a href="/users/id/<%= detail[0].userId %>"
                ><%=detail[0].username %>
              </a>
            </p>
          </div>
          <img class="photo" src="<%= detail[0].postImg %>" alt="" />
        </section>
        <section class="right">
          <h4>Comentarios</h4>
          <section class="comments">
            <form action="" class="comment-form">
              <input
                type="text"
                class="input"
                placeholder="Agregar comentario"
              />
              <button type="submit">Comentar</button>
            </form>
            <% for( let i = 0; i < 4; i++ ) { %>
            <div>
              <article class="comment">
                <img
                  class="commentPfp"
                  src="<%= detail[0].authorImg[i] %>"
                  alt=""
                />
                <section class="content">
                  <a class="user" href="/users/id/<%= match[i] %> "
                    ><%=detail[0].commentAuthor[i] %>
                  </a>
                  <span class="text"><%= detail[0].comments[i]%> </span>
                </section>
              </article>
            </div>
            <% } %>
          </section>
        </section>
      </div>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
