<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

      <main>
        <div class="post-detail container">
          <section class="center main-content post">
            <div class="info-usuario">
              <img class="userImg" src="/images/usuarios/<%= post.usuario.foto %> " alt="" />
              <p>
                <a class="fix-link" href="/users/id/<%= post.usuario.id %>">
                  <%= post.usuario.usuario %>
                </a>
              </p>
            </div>
            <img class="photo" src="/images/posts/<%= post.name_img %>" alt="" />
          </section>
          <section class="right">
            <h4>Comentarios</h4>
            <section class="comments">
              <form action="" class="comment-form">
                <input type="text" class="input" placeholder="Agregar comentario" />
                <button type="submit">Comentar</button>
              </form>
              <% for( let i=0; i < post.comentarios.length; i++ ) { %>
                <div>
                  <article class="comment">
                    <img class="commentPfp" src="/images/usuarios/<%= post.comentarios[i].usuario.foto %>" alt="" />
                    <section class="content">
                      <a class="fix-link" class="user" href="/users/id/<%= post.comentarios[i].usuario.id %> ">
                        <%= post.comentarios[i].comentario %>:
                      </a>
                      <span class="text">
                        <%= post.id %>
                      </span>
                    </section>
                  </article>
                </div>
                <% } %>
            </section>
          </section>
        </div>
      </main>

      <%- include('./partials/footer.ejs')%>
  </body>

</html>