<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <div class="post-detail container">
        <section class="center main-content post">
          <div class="info-usuario">
            <img class="userImg" src="<%= detail[0].userImg %> " alt="" />
            <p>
              <a href="/users/id/<%= detail[0].userId %>"
                ><%=detail[0].username %>
              </a>
            </p>
          </div>
          <img class="photo" src="<%= detail[0].postImg %>" alt="" />
        </section>
        <section class="right">
          <h4>Comentarios</h4>
          <section class="comments">
            <form action="" class="comment-form">
              <input
                type="text"
                class="input"
                placeholder="Agregar comentario"
              />
              <button type="submit">Comentar</button>
            </form>
            <% for( let i = 0; i < detail[0].comments.length; i++ ) { %>
            <div>
              <article class="comment">
                <img src="<%=match[0]%>" alt="" />
                <section class="content">
                  <a class="user" href="detalleUsuario.html"
                    ><%=detail[0].commentAuthor[i] %>
                  </a>
                  <span class="text"
                    ><%= detail[0].comments[i] + match[0] %>
                  </span>
                </section>
              </article>
              <% } %>
            </div>
          </section>
        </section>
      </div>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
