<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <section class="center main-content">
        <h1>Editar perfil</h1>
        <form class="formRe" action="/users/myProfile/edit" method="POST" enctype="multipart/form-data">
          <div class="editProfile">
            <div class="input-container ic1">
              <input id="id" hidden class="input" type="text" name="id" value="<%= user.id_usuario%> " readonly/>
          </div>
            <div class="editAllLabels">
              <label class="editLabel">Username:</label>
              <label class="editLabel">Password:</label>
              <label class="editLabel">Email:</label>
              <label class="editLabel" id="pfpL">Profile picture:</label>
            </div>
            <div class="editAllInputs">
              <input
                class="editInput"
                type="text"
                name="username"
                id="username"
                placeholder="<%= user.usuario%>"
              />
              <input
                class="editInput"
                type="password"
                name="password"
                id="password"
                placeholder="********"
              />
              <input class="editInput" type="email" name="email" id="email" placeholder="<%= user.email%>" />
              <input class="editInput" type="file" name="pfp" id="pfp" />
            </div>
          </div>
          <button type="submit">Submit</button>
        </form>
      </section>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
