<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <section class="center main-content">
        <% for( let i = 0; i < posts.length; i++ ) { %>
        <article class="post">
          <div class="info-usuario">
            <img class="userImg" src="<%= posts[i].userImg %> " alt="" />
            <h4>
              <a href="/users/id/<%= posts[i].userId %>"
                ><%= posts[i].username + [i] %>
              </a>
            </h4>
          </div>
          <div class="post-body">
            <a href="/posts/detail/id/<%= posts[i].postId%>">
              <img src="<%= posts[i].postImg %>" alt="" />
            </a>
          </div>
          <ul class="post-reacciones">
            <li>
              <i class="fa-regular fa-heart"> <%= posts[i].likes %> </i>
            </li>
            <li>
              <i class="fa-regular fa-comment"></i>
            </li>
          </ul>
          <div class="post-comentarios">
            <h4>Comentarios</h4>
            <ul>
              <% for( let a = 0; a < 2; a++ ) { %>

              <li>
                <a href="/users/id/<%= posts[i].userId %>"
                  ><%= posts[i].commentAuthor[a] %>
                </a>
                <span><%=posts[i].comments[a]%></span>
              </li>
              <% } %>
              <li>
                <a href="/posts/detail/id/<%= posts[i].postId%>">Ver más...</a>
              </li>
            </ul>
          </div>
        </article>

        <% } %>
      </section>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
